@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/circe.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('../fonts/circe.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/circe.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('../fonts/circe.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/circe.svg#circe') format('svg'); /* Chrome < 4, Legacy iOS */
}
