$title-text-color: #000000;
$primary-text-color: #a6a6a6;
$secondary-text-color: #bdbdbd;

$accent-color: #24cca7;
$accent-color2: #4a56e2;
$accent-color3: #ffebee;
$accent-color4: rgba(74, 86, 226, 1);
$accent-color5: #ff6596;

$primary-bg-color: rgba(255, 255, 255, 0.4);
$secondary-bg-color: turquoise;
$table-bg-color: white;

$table-border-color: #dcdcdf;

$button-text-color: #3d3d3d;

$primary-font-family: Circe, sans-serif;
$secondary-font-family: Poppins, sans-serif;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
