.modalContainer {
  .addTransactionForm {
    position: relative;

    font-family: $secondary-font-family;
    text-align: center;
    background-color: white;
    max-width: 320px;
    padding: 20px;

    @include for-size(tablet) {
      max-width: 540px;

      padding-right: 65px;
      padding-left: 65px;
      padding-top: 40px;
      padding-bottom: 60px;

      border-radius: 20px;
    }
  }

  .title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 40px;

    @include for-size(tablet) {
      font-size: 30px;
    }
  }

  .radioBtn {
    width: 220px;
    height: 44px;
    margin: auto;
    margin-bottom: 20px;
  }

  .MuiTypography-body1 {
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
  }

  .MuiGrid-spacing-xs-1 > .MuiGrid-item {
    padding: 0;
  }

  .MuiFormControl-root {
    font-family: $primary-font-family;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.9px;
    border-bottom: 1px solid #e0e0e0;
  }

  .MuiInputBase-root {
    display: flex;

    font-family: $primary-font-family;
    font-size: 18px;
    line-height: 1.5;
    color: $primary-text-color;
  }

  .MuiInputBase-input {
    padding-top: 10px;
    padding-bottom: 12px;
    margin-left: 20px;
  }

  .MuiInput-underline:after,
  .MuiInput-underline::before {
    border-bottom: 1px solid #e0e0e0;
  }

  .green {
    color: $accent-color;
    margin-right: 24px;
    margin-left: 0;
  }

  .red {
    color: $accent-color5;
    margin-left: 20px;
    margin-right: 0;
  }

  .grey1 {
    color: #e0e0e0;
    margin-left: 20px;
  }

  .grey2 {
    color: #e0e0e0;
    margin-right: 24px;
  }

  .cetegory {
    width: 100%;
    margin-bottom: 30px;
  }

  .jss2 {
    width: 100%;
  }

  .WithStyles\(ForwardRef\(Switch\)\)-switchBase-5 {
    box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  }

  .WithStyles\(ForwardRef\(Switch\)\)-switchBase-5.WithStyles\(ForwardRef\(Switch\)\)-checked-8 {
    box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
  }

  .cetegoryInput {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(50px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .MuiFormLabel-root {
    margin-left: 20px;
    font-family: $primary-font-family;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.9px;

    color: $primary-text-color;
  }

  .makeStyles-formControl-13 {
    width: 100%;
  }

  .makeStyles-formControl-2 {
    min-width: 100%;
    margin: 0;
  }

  .input-comments {
    width: 100%;
  }

  .cancelBtn {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .data-money-form {
    @include for-size(tablet) {
      display: flex;
      justify-content: space-around;
      align-content: flex-start;
      margin-bottom: 15px;
    }
  }

  .money-input {
    display: block;

    border: 1px solid #e0e0e0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    align-content: flex-start;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    @include for-size(tablet) {
      margin-bottom: 0px;
      margin-right: 30px;
      width: 190px;
    }
  }

  .money-input .MuiInputBase-input {
    margin-left: 20px;
    font-family: $primary-font-family;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.9px;
    color: $primary-text-color;
  }

  .date-input {
    display: block;

    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    @include for-size(tablet) {
      margin-bottom: 0px;
      width: 190px;
    }
  }

  .modal-form-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 35px;
  }

  .btn-form {
    min-width: 300px;
    height: 50px;

    margin-top: 20px;
    padding-top: 16px;
    padding-bottom: 13px;

    border: 1px solid $accent-color2;
    border-radius: 20px;
    background-color: white;

    color: $accent-color2;
    font-family: Circe;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @include for-size(tablet) {
      width: 280px;
    }
  }

  .MuiButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    border: 1px solid $accent-color2;
    border-radius: 20px;
    background-color: white;
  }

  .active {
    background-color: $accent-color;
    border: 1px solid $accent-color;
    color: white;
    transition: $timing-function;
  }

  .btn-form.MuiButton-root:hover {
    background-color: $accent-color;
    border: 1px solid $accent-color;
    color: white;
    transition: $timing-function;
  }

  .BtnCloseTransaction {
    position: absolute;
    display: inline-flex;

    top: 16px;
    right: 30px;
    width: 16px;
    height: 16px;
    border: 0;

    fill: black;
    background: inherit;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    outline: none;

    @media screen and (max-width: 767px) {
      top: 6px;
      right: 20px;
    }
  }
  .MuiFormLabel-root.Mui-focused {
    color: $accent-color;
    font-family: $primary-font-family;
    font-size: 18px;
    font-weight: 400;
    line-height: 26, 53px;
  }

  .WithStyles\(ForwardRef\(Switch\)\)-switchBase-5 {
    box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  }
}
