.tableCurrency {
  width: 280px;
  padding-bottom: 160px;

  border-radius: 30px;
  background: url('../../images/currency-bcgi-1280.png') no-repeat;

  @media screen and (max-width: 1279px) {
    position: relative;
    top: -10px;

    padding-bottom: 0;
    margin-left: 16px;

    background: url('../../images/currency-bcgi-768.png') no-repeat;
  }

  @media screen and (max-width: 767px) {
    margin-left: 0;

    background: url('../../images/currency-bcgi-320.png') no-repeat;

    transition: 1.5s;
    animation: mobileAnimation 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;
  }

  .currencyBody {
    padding-left: 30px;
  }

  @include for-size(tablet) {
    width: 334px;
  }

  @include for-size(desktop) {
    width: 350px;
  }

  .tableHead {
    width: 350px;

    padding-top: 17px;
    padding-bottom: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 30px;

    @media screen and (max-width: 1279px) {
      width: auto;

      padding-top: 8px;
      padding-left: 14px;
      padding-bottom: 0;
    }
  }

  .tableHeaderTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
  }

  .tableHeaderTitle + .tableHeaderTitle {
    padding-left: 40px;

    @media screen and (max-width: 1279px) {
      padding-left: 44px;
    }

    @media screen and (max-width: 767px) {
      padding-left: 20px;
    }
  }

  .rowTitle {
    display: inline-block;
    padding-top: 12px;
    padding-left: 30px;

    font-family: $primary-font-family;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    @media screen and (max-width: 767px) {
      padding-left: 18px;
    }

    &.second {
      padding-top: 16px;
      padding-left: 76px;

      @media screen and (max-width: 767px) {
        padding-left: 64px;
      }
    }

    &.third {
      padding-top: 16px;
      padding-left: 80px;

      text-align: right;

      @media screen and (max-width: 767px) {
        padding-left: 64px;
      }
    }
  }

  .loaderContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.textCurrency {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  text-align: center;
  filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
}
